.card img {
  max-height: 250px;
  object-fit: cover;
  transition: 0.7s;
}

.card {
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2) rotate(7deg);
}

.container-img {
  overflow: hidden;
  height: 250px;
}

.link-character {
  color: inherit;
  text-decoration: none;
}
